body{
    display: flexbox;
    background: url(image/AdobeStock_612467209.jpeg) no-repeat;
    background-size: 100%;
    margin-bottom: 3px;
    background-position: center;
    
} 

h1 {
    text-align: center;
    font-size: 100px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 100px; /* Adjust the value as needed */
    margin-bottom: 0px;
}

h2 {
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-top: 5px;
}

.center_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Adjust the height as needed */
   
    
}

h3 {
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(53, 69, 212);
    height: 100px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

/*******************************************************/
/*Header styling*/

header{
    display: flex;
    align-items: top;
    

}
.logo{
    flex: 1;
    margin: 20px 20px 0px 20px;
    
}

.menu{
    margin: 10px 20px 5px 5px; 
}
.login{
    margin: 10px 20px 0px 5px;
}

footer {

    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    bottom: 0%;
    left: 0%;
    right: 0%;
    position: fixed;
  }
