html, body {
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
} 


/*******************************************************/
/*Header styling*/

header{
    display: flex;
    align-items: top;
    background-color: #ffffff81;

}
.logo{
    flex: 1;
    margin: 20px 20px 0px 20px;
}

.menu{
    margin: 10px 20px 5px 5px; 
}
.login{
    margin: 10px 20px 0px 5px;
}

/*******************************************************/
/*Footer styling*/

footer {

      background-color: #333;
      color: white;
      padding: 20px;
      display: flex;
      justify-content: space-between;
    text-align: center;

    }

.column {
      flex: 1;
      text-align: center;
    }

.column.left {
      text-align: left;
    }

.column.right {
      text-align: right;
    }

a {
      color: white;
      text-decoration: none;
    }
