html, body {
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
} 


/*******************************************************/
/*Header styling*/

header{
    display: flex;
    align-items: center;
    background-color: #e2dede81;

}
.logo{
    
    margin: 20px 10px 20px 20px;
 

}

.menu{
  display: flex;
  justify-content: space-around;
  flex: 1;
    margin: 10px 20px 5px 5px; 
  
    align-items: center;
}
.login{
    margin: 10px 20px 0px 5px;
}

.menuebutton{
  background-color: #d6d0d081;
  padding: 15px;
  border-radius: 7px;
}

/*Alle im Menu*/
.menu a{
  color: black;
  font-size: 20px;
  font-weight: bold;
}

/*******************************************************/
/*Footer styling*/

footer {

      background-color: #333;
      color: white;
      padding: 20px;
      display: flex;
      justify-content: space-between;
    text-align: center;

    }

.column {
      flex: 1;
      text-align: center;
    }

.column.left {
      text-align: left;
    }

.column.right {
      text-align: right;
    }

a {
      color: rgb(255, 255, 255);
      text-decoration: none;
    }
