html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
}

.hintergrundbild {
    z-index: 1; /* Setzt den z-index des Hintergrundbildes auf 0 */
}

.container-impressum, .container-datenschutz{
    position: relative; /* z-index funktioniert nur auf positionierten Elementen */
    z-index: 3; /* Setzt den z-index des Textes auf 2 */

}
.datenschutz-content{
    position: relative; /* z-index funktioniert nur auf positionierten Elementen */
    z-index: 4; /* Setzt den z-index des Textes auf 2 */
}

/*_________________________________TEXTFORMATIERUNG_______________________________*/
.Titel{
  color: #1ab8a6;
  font-family: "Raleway-Bold", sans-serif;
  font-size: min(max(40px, 7vw), 60px);
  line-height: 70px;
  font-weight: 700;
}


h3{
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-size: min(max(18px, 3vw), 25px);
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 1%;
  line-height: 30px;
}
p{
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-size: min(max(15px, 2vw), 25px);
  line-height: 40px;
  font-weight: 500;
  margin-top: 1%;
}


h5{
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-size: min(max(15px, 1vw), 20px);
  line-height: 20px;
  font-weight: 500;
}

@media (max-width: 868px) {
  p{
    line-height: 35px;
  }
  }
@media (max-width: 760px) {
  p{
    line-height: 30px;
  }
  }



/*_________________________________HINTERGRUND VON IMPRESSUM_______________________________*/
.seite {
    height: max-content;
    position: relative;
    overflow: hidden;
  }

  .hintergrundbild {
    position: fixed;
    top: 0;
    left: 0;
    background: no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    opacity: 40%;
    z-index: -2;
  }

  @media (min-width: 1760px) {
    .hintergrundbild {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
 
     .container-impressum, .container-datenschutz {
        width: 80%;
        margin: auto;
    }

    @media (max-width: 592px) {
      .container-datenschutz, .container-impressum{
      width: 90%;
      margin:auto
      }
    }
    

/*_________________________________TEXTINHALT VON IMPRESSUM_______________________________*/
.impressum-content, .datenschutz-content{
    padding: 20px;
}
.flex-firmagewissen {
    display: flex; /* Set the parent element as a flex container */
    align-items: flex-start;
    flex-direction: row;
}
@media (max-width: 760px) {
  .flex-firmagewissen {
      flex-direction: column;
  }
}
.firma {
    flex: 0 0 50%; /* Set the width of .firma to 50% */
}
.gewissenbildtext {
    display: flex;
    align-items: center;
}
.gewissentext {
    flex: 1; /* Let .gewissen take up the remaining space */
    margin-top: 32px;
    margin-left: 10px;
}

@media (max-width: 760px) {
.gewissentext{
  margin-top: 2px;
}
}

.gewissenbild {
    width: 50px;
    height: 55px;
    margin-top: 7px;
}

@media (max-width: 760px) {
  .gewissenbild{
    width: 30px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 2px;
  }
}

.flex-impressum {
    display: flex; /* Set the parent element as a flex container */
    align-items: flex-start;
    width: 100%;
}

.textimpressum {
    flex: 0 0 75%;
    margin: 50px 10px 10px 0px;
}

@media (max-width: 785px) {
  .textimpressum{
  flex: 80%;
  margin: 50px 0px 0px 0px;
  }
}

@media (max-width: 484px) {
  .textimpressum{
  flex: 85%;
  margin: 50px 0px 0px 0px;
  }
}

.leerraumimpressum{
    display: flex;
    align-items: center;
}

.verantwortlich{
  margin-bottom: 1%;
}



/*_________________________________TEXTINHALT VON DATENSCHUTZ_______________________________*/

.datenschutz {
  font-size: 5vw; /* Adjust as needed */
}


.flex-datenschutz {
    display: flex; /* Set the parent element as a flex container */
    align-items: flex-start;
    width: 100%;
}

.textdatenschutz {
    flex: 0 0 75%;
    margin: 10px 10px 10px 0px;
}

@media (max-width: 785px) {
  .textdatenschutz{
  flex: 80%;
  margin: 10px 0px 0px 0px;
  }
}

@media (max-width: 484px) {
  .textdatenschutz{
  flex: 85%;
  margin: 10px 0px 0px 0px;
  }
}

.leerraumdatenschutz{
    display: flex;
    align-items: center;
}
