body {
    display: flexbox;
    background-size: 100%;
    margin-bottom: 10px;
    background-position: center;
}

/* h1,h2 und h3 gelöscht*/

.hintergrundbild {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/image/Startseite_Hintergrund.jpg) no-repeat center center fixed;
    /*Bild gewechslet*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    opacity: 0.4;
    /* 40% opacity */
    z-index: -2;
}

.Zitat-container {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    text-align: right;
    padding: 0px;
    margin-right: 50px;
    margin-left: 300px;



}

.bold-text-türkis-kreis {
    font-family: 'Raleway';
    font-weight: 700;
    /*Bold*/
    text-align: left;
    margin-top: 90px;
    margin-left: 350px;
    margin-right: 800px;

}

.bold-text-weiss-kreis {
    font-family: 'Raleway';
    font-weight: 700;
    /*Bold*/
    font-size: 18px;
    text-align: left;
    margin-top: 30px;
    margin-left: 800px;
    margin-right: 350px;

}

.bold-türkis-text {
    font-family: 'Raleway';
    font-weight: 700;
    /*Bold*/
    color: darkcyan;
    font-size: 40px;
    position: absolute;
    top: 43%;
    text-align: left;
    margin-left: 470px;
    margin-right: 600px;

}



.button {
    width: 160px;
    height: 40px;
    background-color: rgb(154, 147, 147);
    border: 2px solid #000;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    padding-top: 6px;
    margin-left: 950px;
    margin-right: 230px;
    margin-top: 2%;
    font-family: 'Raleway';
    font-weight: 700;
    /*Bold*/
    font-size: 24px;
    text-align: center;

}


/*******************************************************/
/*Header styling*/

.logo {
    flex: 1;
    margin: 20px 20px 0px 20px;

}

.menu {
    margin: 10px 20px 5px 5px;
}

.login {
    margin: 10px 20px 0px 5px;
}


.ellipse-1 {
    background: rgba(26, 184, 166, 0.3);
    border-radius: 50%;
    width: 470px;
    height: 470px;
    position: absolute;
    left: 20%;
    top: 192px;
    opacity: 100%;
    overflow: hidden;
    z-index: -1;
}

.ellipse-2 {
    background: rgba(237, 240, 240, 0.3);
    border-radius: 50%;
    width: 470px;
    height: 470px;
    position: absolute;
    left: 48%;
    top: 300px;
    opacity: 100%;
    overflow: hidden;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .ellipse-1 {
        width: 700px;
        height: 700px;
        position: absolute;
        left: 90%;
        top: 1000px;
    }

    .ellipse-2 {
        width: 700px;
        height: 700px;
        position: absolute;
        left: 20%;
        top: 450px;
    }

    .Zitat-container {
        margin-top: 30%;
        width: 932px;
        font-size: 25px;
        margin-left: 69px;
    }

    .bold-text-türkis-kreis {
        margin-top: 200px;
        margin-left: 200px;
        margin-right: 0px;
        font-size: 25px;
        width: 463px;
    }

    .bold-türkis-text {
        top: 80%;
        font-size: 60px;
        margin-left: 365px;
    }

    .bold-text-weiss-kreis {
        margin-top: 493px;
        margin-left: 472px;
        width: 485px;
        font-size: 30px;
    }

    .button {
        margin-left: 619px;
        margin-top: 81px;
        width: 300px;
        height: 80px;
        font-size: 50px;
    }
}

@media screen and (max-width: 1024px) {

    .ellipse-1 {
        width: 700px;
        height: 700px;
        position: absolute;
        left: 90%;
        top: 1000px;
    }

    .ellipse-2 {
        width: 700px;
        height: 700px;
        position: absolute;
        left: 20%;
        top: 450px;
    }

    .Zitat-container {
        margin-top: 30%;
        width: 932px;
        font-size: 25px;
        margin-left: 69px;
    }

    .bold-text-türkis-kreis {
        margin-top: 200px;
        margin-left: 200px;
        margin-right: 0px;
        font-size: 25px;
        width: 463px;
    }

    .bold-türkis-text {
        top: 80%;
        font-size: 60px;
        margin-left: 365px;
    }

    .bold-text-weiss-kreis {
        margin-top: 493px;
        margin-left: 472px;
        width: 485px;
        font-size: 30px;
    }

    .button {
        margin-left: 619px;
        margin-top: 81px;
        width: 300px;
        height: 80px;
        font-size: 50px;
    }






}

footer {

    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    bottom: 0%;
    left: 0%;
    right: 0%;
    position: fixed;
}