.ueber-uns,
.ueber-uns * {
  box-sizing: border-box;
}
.ueber-uns {
  background: #ffffff;
  height: 3239px;
  position: relative;
  overflow: hidden;
}
.hintergrundbild {
  height: 2863px;
  position: absolute;
  left: 0px;
  top: 188px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  opacity: 40%;
}
.ellipse-7 {
  background: rgba(217, 217, 217, 0.7);
  border-radius: 50%;
  width: 849px;
  height: 851px;
  position: absolute;
  left: 632px;
  top: 1273px;
}
.ellipse-4 {
  background: rgba(217, 217, 217, 0.7);
  border-radius: 50%;
  width: 1004px;
  height: 937px;
  position: absolute;
  left: -161px;
  top: 439px;
}
.ellipse-9 {
  background: rgba(26, 184, 166, 0.25);
  border-radius: 50%;
  width: 700px;
  height: 678px;
  position: absolute;
  left: 98px;
  top: 1040px;
}
.ellipse-8 {
  background: rgba(26, 184, 166, 0.25);
  border-radius: 50%;
  width: 1884px;
  height: 1794px;
  position: absolute;
  left: -444px;
  top: 2124px;
}
.footer {
  width: 1440px;
  height: 188px;
  position: absolute;
  left: 0px;
  top: 3051px;
}
.rectangle-2 {
  background: rgba(164, 166, 152, 0.5);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.logo {
  position: absolute;
  right: 86.32%;
  left: 3.26%;
  width: 10.42%;
  bottom: 37.95%;
  top: 36.7%;
  height: 25.35%;
}
.impressum-datenschutz-ueber-uns {
  color: #000000;
  text-align: center;
  font-family: "Poppins-Light", sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 300;
  position: absolute;
  right: 38.89%;
  left: 39.93%;
  width: 21.18%;
  bottom: 14.36%;
  top: 18.09%;
  height: 67.55%;
}
.facebook {
  height: auto;
  position: absolute;
  right: 11.25%;
  left: 84.93%;
  width: 3.82%;
  bottom: 36.17%;
  top: 34.04%;
  height: 29.79%;
  overflow: visible;
}
.instagram {
  height: auto;
  position: absolute;
  right: 17.71%;
  left: 78.12%;
  width: 4.17%;
  bottom: 35.64%;
  top: 34.04%;
  height: 30.32%;
  overflow: visible;
}
.vanessa {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 150px;
  top: 851px;
  width: 369px;
  height: 240px;
}
.vanessa-span {
  color: #000000;
  font-family: "Raleway-SemiBold", sans-serif;
  font-size: 60px;
  line-height: 40px;
  font-weight: 600;
}
.vanessa-span2 {
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
}
.moritz {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 150px;
  top: 1403px;
  width: 369px;
  height: 158px;
}
.moritz-span {
  color: #000000;
  font-family: "Raleway-SemiBold", sans-serif;
  font-size: 60px;
  line-height: 40px;
  font-weight: 600;
}
.moritz-span2 {
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
}
.nicole {
  color: #000000;
  text-align: right;
  position: absolute;
  left: 826px;
  top: 1767px;
  width: 368px;
  height: 184px;
}
.nicole-span {
  color: #000000;
  font-family: "Raleway-SemiBold", sans-serif;
  font-size: 60px;
  line-height: 40px;
  font-weight: 600;
}
.nicole-span2 {
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
}
.koepfe {
  color: #1ab8a6;
  text-align: left;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
  position: absolute;
  left: 150px;
  top: 247px;
  width: 1140px;
  height: 194px;
}
.carolina {
  color: #000000;
  text-align: right;
  position: absolute;
  left: 725px;
  top: 1148px;
  width: 272px;
  height: 195px;
}
.carolina-span {
  color: #000000;
  font-family: "Raleway-SemiBold", sans-serif;
  font-size: 60px;
  line-height: 40px;
  font-weight: 600;
}
.carolina-span2 {
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
}
.simon {
  color: #000000;
  text-align: right;
  position: absolute;
  left: 727px;
  top: 851px;
  width: 373px;
  height: 189px;
}
.simon-span {
  color: #000000;
  font-family: "Raleway-SemiBold", sans-serif;
  font-size: 60px;
  line-height: 40px;
  font-weight: 600;
}
.simon-span2 {
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
}
.gruendungsgeschichte {
text-align: left;
  position: absolute;
  left: calc(50% - 562px);
  top: calc(50% - -657.5px);
  width: 1044px;
  height: 774px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.gruendungsgeschichte-span {
  color: #1ab8a6;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 60px;
  line-height: 40px;
  font-weight: 700;
}
.gruendungsgeschichte-span2 {
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 25px;
  line-height: 40px;
  font-weight: 500;
}
.vanessa-portrait {
    width: 273px;
    height: 343px;
    position: absolute;
    left: 150px;
    top: 498px;
}
.bild_vanessa {
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    bottom: 0%;
    top: 0%;
    height: 100%;
    object-fit: cover;
}
.moritz-portrait {
  width: 273px;
  height: 343px;
  position: absolute;
  left: 343px;
  top: 1101px;
}
.bild_moritz {
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  object-fit: cover;
}
.nicole-portrait {
  width: 273px;
  height: 343px;
  position: absolute;
  left: 728px;
  top: 1465px;
}
.bild_nicole {
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  object-fit: cover;
}
.carolina-portrait {
    width: 273px;
    height: 343px;
    position: absolute;
    left: 1017px;
    top: 1067px;
  }
.bild_carolina {
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    bottom: 0%;
    top: 0%;
    height: 100%;
    object-fit: cover;
  }
.simon-portrait {
    width: 273px;
    height: 343px;
    position: absolute;
    left: 635px;
    top: 549px;
  }
.bild_simon {
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    bottom: 0%;
    top: 0%;
    height: 100%;
    object-fit: cover;
  }  
.header-ueber-uns {
  width: 1440px;
  height: 188px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.header-kontaktseite {
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.header-kontaktseite2 {
  background: rgba(77, 89, 88, 0.2);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.hintergrund-header {
  background: rgba(164, 166, 152, 0.8);
  width: 1440px;
  height: 188px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.logo2 {
  position: absolute;
  right: 78.54%;
  left: 2.01%;
  width: 19.44%;
  bottom: 29.28%;
  top: 23.4%;
  height: 47.32%;
}
.button {
  background: #afb3b2;
  border-radius: 40px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  padding: 5px 60px 5px 60px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 308px;
  height: 65px;
  position: absolute;
  left: 366px;
  top: 67px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.ellipse-3 {
  background: #99cec8;
  border-radius: 50%;
  flex-shrink: 0;
  width: 87px;
  height: 79px;
  position: absolute;
  left: -25px;
  top: -79px;
}
.m-chtest-du-hosten {
  color: #000000;
  text-align: center;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 22px;
  line-height: 60px;
  font-weight: 700;
  position: absolute;
  left: 28px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ja-ich-m-chte-hosten {
  color: #000000;
  text-align: center;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 22px;
  line-height: 60px;
  font-weight: 700;
  position: absolute;
  left: 16px;
  top: -61px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button2 {
  background: #afb3b2;
  border-radius: 40px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  padding: 5px 60px 5px 60px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 308px;
  height: 65px;
  position: absolute;
  left: 710px;
  top: 67px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.m-chtest-du-reisen {
  color: #000000;
  text-align: center;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 22px;
  line-height: 60px;
  font-weight: 700;
  position: absolute;
  left: 32px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ja-ich-m-chte-reisen {
  color: #000000;
  text-align: center;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 22px;
  line-height: 60px;
  font-weight: 700;
  position: absolute;
  left: 20px;
  top: -61px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-ueber-uns {
  width: 153px;
  height: 54px;
  position: absolute;
  left: 1037px;
  top: 83px;
}
.button-ueber-uns2 {
  color: #000000;
  text-align: center;
  font-family: "Raleway-ExtraBold", sans-serif;
  font-size: 25px;
  line-height: 40px;
  font-weight: 800;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.button-kontakt {
  width: 153px;
  height: 54px;
  position: absolute;
  left: 1170px;
  top: 83px;
}
.button-kontakt2 {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 25px;
  line-height: 40px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.button-login {
  width: 60px;
  height: 59.5px;
  position: absolute;
  left: 1333px;
  top: 72px;
}
.button-login2 {
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.ellipse-5 {
  background: rgba(26, 184, 166, 0.3);
  border-radius: 50%;
  width: 771px;
  height: 771px;
  position: absolute;
  left: 649px;
  top: 682px;
}
