
.ueber-uns {
  overflow: hidden;
  height: max-content;
  width: 100%;
  position: relative;
}

.hintergrundbild {
  position: fixed;
  top: 0;
  left: 0;
  background: repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  opacity: 40%;
  z-index: -2;
}

@media (min-width: 1760px) {
  .hintergrundbild {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
}

@media (min-width: 1760px) {
  .hintergrundbild {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.koepfe {
  color: #1ab8a6;
  font-family: "Raleway-Bold", sans-serif;
  font-size: min(max(40px, 7vw), 60px);
  line-height: 70px;
  font-weight: 700;
  position: relative;
  top: 40px;
  width: 80%;
  left: 10%;
  height: 194px;
  z-index: 2;
  margin-bottom: 5vh;
}

.flexpersonen {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-evenly;
  left: 10%;
  width: 80vw;
  margin-top: 5vh;
  margin-right: 5vw;
  margin-bottom: 5vh;
  margin-left: 5vw;
}

.vanessa,
.simon,
.nicole,
.carolina,
.moritz {
  flex: 10%;
  color: #000000;
  text-align: left;
  max-width: 264px;
  height: max-content;
  position: relative;
  margin-bottom: 3vh;
  margin-top: 3vh;
  margin-right: 5vw;
}

.vanessa-span,
.simon-span,
.nicole-span,
.carolina-span,
.moritz-span {
  color: #000000;
  font-family: "Raleway-SemiBold", sans-serif;
  font-size: 60px;
  line-height: 40px;
  font-weight: 600;
  position: relative;
  margin-top: 3vh;
  width: 264px;
}

.vanessa-span2,
.nicole-span2,
.simon-span2,
.carolina-span2,
.moritz-span2 {
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
  position: relative;
  width: 264px;
}

.vanessa-portrait,
.simon-portrait,
.nicole-portrait,
.carolina-portrait,
.moritz-portrait {
  height: 343px;
  width: 264px;
}

.bild_vanessa,
.bild_simon,
.bild_nicole,
.bild_carolina,
.bild_moritz {
  height: 100%;
  width: 264px;
  position: relative;
}



.gruendungsgeschichte {
  text-align: center;
  position: relative;
  left: 10%;
  width: 80%;
  height: auto;
  z-index: 2;
  margin-top: 10vh;
}

.gruendungsgeschichte-span {
  color: #1ab8a6;
  font-family: "Raleway-Bold", sans-serif;
  font-size: min(max(40px, 7vw), 60px);
  line-height: 70px;
  font-weight: 700;
}

.gruendungsgeschichte-span2 {
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-size: min(max(15px, 4vw), 25px);
  line-height: 40px;
  font-weight: 500;
}

video {
  width: 70vw;
}

.videodiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;

}


.ellipse-5 {
  background: rgba(26, 184, 166, 0.3);
  border-radius: 50%;
  width: 471px;
  height: 471px;
  position: absolute;
  left: calc(10%);
  top: 182px;
  opacity: 50%;
}

.ellipse-7 {
  background: rgba(217, 217, 217, 0.7);
  border-radius: 50%;
  width: 450px;
  height: 450px;
  position: absolute;
  left: calc(62%);
  top: 1573px;
  opacity: 70%;
}

.ellipse-4 {
  background: rgba(217, 217, 217, 0.7);
  border-radius: 50%;
  width: 750px;
  height: 750px;
  position: absolute;
  left: calc(3%);
  top: 439px;
  opacity: 70%;
}

.ellipse-9 {
  background: rgba(26, 184, 166, 0.25);
  border-radius: 50%;
  width: 700px;
  height: 700px;
  position: absolute;
  left: calc(40%);
  top: 1040px;
  opacity: 50%;
}

.ellipse-8 {
  background: rgba(26, 184, 166, 0.25);
  border-radius: 50%;
  width: 900px;
  height: 900px;
  position: absolute;
  left: calc(8%);
  top: 1824px;
  opacity: 50%;
}

.ellipse-5,
.ellipse-7,
.ellipse-4,
.ellipse-9,
.ellipse-8 {
  z-index: -1;  
  overflow:auto;
}


.ellipse-5 {
    animation: flyAround-ellipse-5 75s infinite 0s;
}

.ellipse-7 {
  animation: flyAround-ellipse-7 40s infinite 0s;
}

.ellipse-4 {
  animation: flyAround-ellipse-4 140s infinite 0s;
}

.ellipse-9 {
  animation: flyAround-ellipse-9 90s infinite 0s;
}

.ellipse-8 {
  animation: flyAround-ellipse-8 50s infinite 0s;
}




@keyframes flyAround-ellipse-5 {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(150%, 25%);
  }
  50% {
    transform: translate(70%, 95%);
  }
  80% {
    transform: translate(-15%, 15%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes flyAround-ellipse-7 {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(-50%, 5%);
  }
  50% {
    transform: translate(-30%, 25%);
  }
  75% {
    transform: translate(10%, 15%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes flyAround-ellipse-4 {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(35%, 0%);
  }
  50% {
    transform: translate(0%, -10%);
  }
  75% {
    transform: translate(-5%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes flyAround-ellipse-9 {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(-45%, -3%);
  }
  50% {
    transform: translate(-55%, 30%);
  }
  75% {
    transform: translate(-15%, 30%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes flyAround-ellipse-8 {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(35%, 10%);
  }
  50% {
    transform: translate(35%, -10%);
  }
  75% {
    transform: translate(20%, 10%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@media screen and (max-width: 970px) {
  .koepfe {
    color: #1ab8a6;
    font-family: "Raleway-Bold", sans-serif;
    font-size: min(max(40px, 7vw), 60px);
    line-height: 70px;
    font-weight: 700;
    position: relative;
    top: 40px;
    width: 80%;
    left: 10%;
    height: 194px;
    z-index: 2;
    margin-bottom: 15vh;
  }
}

@media screen and (max-width: 414px) {
  .koepfe {
    color: #1ab8a6;
    font-family: "Raleway-Bold", sans-serif;
    font-size: min(max(40px, 7vw), 60px);
    line-height: 70px;
    font-weight: 700;
    position: relative;
    top: 40px;
    width: 80%;
    left: 10%;
    height: 194px;
    z-index: 2;
    margin-bottom: 22vh;
  }
}

@media screen and (max-width: 395px) {
  .koepfe {
    color: #1ab8a6;
    font-family: "Raleway-Bold", sans-serif;
    font-size: min(max(40px, 7vw), 60px);
    line-height: 70px;
    font-weight: 700;
    position: relative;
    top: 40px;
    width: 80%;
    left: 10%;
    height: 194px;
    z-index: 2;
    margin-bottom: 30vh;
  }
}

@media screen and (max-width: 740px) {
  .gruendungsgeschichte-span {
    color: #1ab8a6;
    font-family: "Raleway-Bold", sans-serif;
    font-size: min(max(40px, 7vw), 60px);
    line-height: 70px;
    font-weight: 700;
  }
}

@media screen and (max-width: 580px) {
  .gruendungsgeschichte-span {
    color: #1ab8a6;
    font-family: "Raleway-Bold", sans-serif;
    font-size: min(max(40px, 7vw), 60px);
    line-height: 50px;
    font-weight: 700;
  }
}

@media screen and (max-width: 507px) {
  .gruendungsgeschichte-span {
    color: #1ab8a6;
    font-family: "Raleway-Bold", sans-serif;
    font-size: min(max(20px, 7vw), 60px);
    line-height: 25px;
    font-weight: 700;
  }
}