
.ueber-uns {
  overflow: hidden;
}

.hintergrundbild {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  opacity: 0.4; /* 40% opacity */
}

.koepfe {
  color: #1ab8a6;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 60px;
  line-height: 70px;
  font-weight: 700;
  position: relative;
  top: 40px;
  width: 80%;
  left: 10%;
  height: 194px;
  z-index: 2;
}

.flexpersonen {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  left: 10%;
  top: 300px;
}

.vanessa,
.simon,
.nicole,
.carolina,
.moritz {
  flex: 0 1 30%;
  color: #000000;
  text-align: left;
  width: max-content;
  height: max-content;
  position: relative;
  margin-bottom: 5vh;
}

.vanessa-span,
.simon-span,
.nicole-span,
.carolina-span,
.moritz-span {
  color: #000000;
  font-family: "Raleway-SemiBold", sans-serif;
  font-size: 60px;
  line-height: 40px;
  font-weight: 600;
  position: relative;
  margin-top: 3vh;
  top: 100%;
  margin-bottom: 3px;
}

.vanessa-span2,
.nicole-span2,
.simon-span2,
.carolina-span2,
.moritz-span2 {
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 500;
  position: relative;
  top: 150%;
}

.vanessa-portrait,
.simon-portrait,
.nicole-portrait,
.carolina-portrait,
.moritz-portrait {
  width: 100%;
  height: 343px;
}

.bild_vanessa,
.bild_simon,
.bild_nicole,
.bild_carolina,
.bild_moritz {
  height: 100%;
  position: relative;
}







.gruendungsgeschichte {
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 130px;
  width: 1044px;
  height: 774px;
  align-items: center;
  z-index: 2;
  display: none;
}

.gruendungsgeschichte-span {
  color: #1ab8a6;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 60px;
  line-height: 40px;
  font-weight: 700;
}

.gruendungsgeschichte-span2 {
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-size: 25px;
  line-height: 40px;
  font-weight: 500;
}

.video_sleeat {
  width: calc(100% - 40px);
  height: calc(100% - 40px); 
  max-width: 70%; 
  max-height: 70vh;  /* Begrenze die Höhe auf 70% der Bildschirmhöhe */
  margin: auto;      /* Zentriere das Video horizontal */
  display: block;    /* Verhindere zusätzlichen Leerraum unter dem Video */
  position: absolute; /* Ändere die Position zu absolut */
  bottom: 0;         /* Setze den Abstand zum unteren Rand auf 0 */
  transform: translateX(-50%);
  left: 50%; 
  z-index: 1;
  display: none;
}

.ellipse-5 {
  background: rgba(26, 184, 166, 0.3);
  border-radius: 50%;
  width: 471px;
  height: 471px;
  position: absolute;
  left: 10%;
  top: 182px;
  opacity: 100%;
  overflow: hidden;
}

.ellipse-7 {
  background: rgba(217, 217, 217, 0.7);
  border-radius: 50%;
  width: 450px;
  height: 450px;
  position: absolute;
  left: 732px;
  top: 1573px;
  opacity: 100%;
}

.ellipse-4 {
  background: rgba(217, 217, 217, 0.7);
  border-radius: 50%;
  width: 750px;
  height: 750px;
  position: absolute;
  left: 0%;
  top: 439px;
  opacity: 100%;
}

.ellipse-9 {
  background: rgba(26, 184, 166, 0.25);
  border-radius: 50%;
  width: 700px;
  height: 678px;
  position: absolute;
  left: 698px;
  top: 1040px;
  opacity: 100%;
}

.ellipse-8 {
  background: rgba(26, 184, 166, 0.25);
  border-radius: 50%;
  width: 1000px;
  height: 1000px;
  position: absolute;
  left: 44px;
  top: 2124px;
  opacity: 100%;
}

.ellipse-5,
.ellipse-7,
.ellipse-4,
.ellipse-9,
.ellipse-8 {
  z-index: -1;     /* Setze den Z-Index auf einen negativen Wert */
}

@keyframes flyAround-ellipse-5 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(850px, 250px);
  }
  50% {
    transform: translate(550px, 950px);
  }
  80% {
    transform: translate(-150px, 150px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes flyAround-ellipse-7 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-500px, 50px);
  }
  50% {
    transform: translate(-300px, 250px);
  }
  75% {
    transform: translate(100px, 150px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes flyAround-ellipse-4 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(350px, 0);
  }
  50% {
    transform: translate(0, -100px);
  }
  75% {
    transform: translate(-50px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes flyAround-ellipse-9 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-550px, -30px);
  }
  50% {
    transform: translate(-650px, 300px);
  }
  75% {
    transform: translate(-150px, 300px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes flyAround-ellipse-8 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(400px, 100px);
  }
  50% {
    transform: translate(400px, -100px);
  }
  75% {
    transform: translate(200px, 100px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.ellipse-5 {
    animation: flyAround-ellipse-5 75s infinite 0s;
}

.ellipse-7 {
  animation: flyAround-ellipse-7 40s infinite 0s;
}

.ellipse-4 {
  animation: flyAround-ellipse-4 140s infinite 0s;
}

.ellipse-9 {
  animation: flyAround-ellipse-9 90s infinite 0s;
}

.ellipse-8 {
  animation: flyAround-ellipse-8 50s infinite 0s;
}
